.header{
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 50px;
    color: black;
}

.header a,img{
    text-decoration: none;
    display: inline-block;
    padding-right: 7.5px;
    padding-left: 7.5px;
    color: black;
    vertical-align: middle;
}

.footer{
    position:fixed;
    bottom:0;
    left: 0;
    color:black;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding-bottom: 15px;
}

.footer a{
    text-decoration: none;
    color: black;
}

#footer_left{
    float: left;
}

#footer_left a{
    padding-left: 25px;
}

#footer_right{
    float: right;
}

#footer_right a{
    padding-right: 25px;
}

body{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    outline: none;
}

a:hover{
    text-decoration: underline;
}


.middlepage{
    margin:auto;
    text-align: center;
    padding-top: 200px;
    width: 100%;
    display: inline-block;
}

#logo{
    padding-bottom: 20px;
}

.search_bar{
    text-align: left;
    width: 28.2%;
    height: 32px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1;
}

.search_buttons{
    padding-top: 13px;
}

.search_buttons button{
    line-height: 27px;
    padding: 6px 15px;
    color: #5f6368;
    background-color: #f4f4f4;
    font-family: Arial,sans-serif;
    font-size: 14px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    margin-left: 10px;
}

.search_buttons button:hover{
    color: #222;
    border: 1px solid #c6c6c6;
}

#sign_in{
    background-color: #4684ef;
    color:white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    padding: 8px 14px;
}

#fadein{
    opacity: 0.6;
    transition: 0s;
}

#fadein:hover{
    opacity: 1;
}

input, select , textarea{
    font-family: inherit;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.87);
    line-height: 40px;
    text-indent: 5px;
}

input:focus, input:hover{
    outline: none;
    box-shadow: 0px 0px 4px 8px #f3f3f3;
}

input{
    background: url(/home/rebs/the_odin_project/google-homepage/mag-mic-search.png) no-repeat scroll 5px 7px;
    padding-left: 30px;
}

#region{
    padding-left: 25px;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}